body{
    background-color: #0D1117;
}
p{
    color: #6E7781
}

footer{
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    padding-left: 71%;    
    padding-top: 30%;
}
h1{
    text-align: center;
    color: #F6F8FA;
    font-family: "inter";
}
h4{
    text-align: center;
    color: #F6F8FA;
    font-family: "inter";
}
header{
    padding: 8px 0px 0px 36px;
}
.blankslate{
    z-index:1000;
    position: absolute;
    top: 242px;
    right: 192px;
    width: 896px;
    height: 157px;
    background-color: #393F47;
    box-sizing: border-box;
    border-radius: 10px;}
.pesquisa{
    display: flex;
    gap: 10px;
    padding: 0px 0px 0px 10px;
    justify-content: left;
    align-items: center;
    z-index:1000;
    position: absolute;
    width: 549px;
    height: 32px;
    top: 150px;
    right: 366px;
    background-color: #010409;
    box-sizing: border-box;
    border-radius: 10px;
}
fieldset{
    display: flex;
    gap: 30px;
    padding: 0px 0px 0px 20px;
    width: 893px;
    height: 51px;
    box-sizing: border-box;
    border-radius: 10px;
    z-index:1000;
    position: absolute;
    border-color: #7D8590;
}


.baixo{
    display: flex;
    gap: 10px ;
    padding: 50px 0px 0px 25px;
    justify-content: left;
    align-items: center;
}
img{ 
    width:15px;
    height:15px;
}
.texto{
    justify-content: left;
    padding: 0px 0px 100px 25px;
    font-size: 11px;
}